table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    max-width: 100%;
    width: 80%;
    border-collapse: collapse;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
    margin: auto;
}
th {
    width: 12.5%;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}
td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td {background: #e8edff;}

body{
    background-image: url("https://sun1-99.userapi.com/HLTJi4MAt9Qk4VYqAKIV9YRi2DHJPbUy5bwzvg/7yyECMbzZck.jpg");
}
p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #011744;
    font-size: 17px;
}

a{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #039;
    font-size: 17px;
}

.center_container{
    justify-content: center;
    margin: auto auto auto 200px;
    text-align: center;
}

.center_container .item {
    margin: 2%;
}

.container{
    justify-content: center;
    margin: auto auto auto 200px;
    text-align: left;
}

.container .item {
    margin: 2%;
}

.container .center_item {
    margin: 2%;
    text-align: center;
}

.container .indent {
    text-indent: 30px;
}

input[type="text"],input[type="password"]{
    width: 300px;
    height: 30px;
    font-size: 18px;
    margin: 1%;
    padding-left: 10px;
    border-radius: 10px;
}

.submit {
    padding-left: 10px;
    width: 75px;
    height: 27px;
}

.header {
    margin: auto auto auto 200px;
    text-align: center;
    justify-content: center;
}
.menu {
    max-width: 200px;
    max-height: 40px;
    align-self: flex-start;
}
.error {
    color: #ff0000;
    text-align: center;
}